{% extends 'home.html' %}

{% block prof %}
{% if user.is_superuser %}
<div class="info">
  <a href="#" style="color: blue;" class="d-block">{{user.first_name}} | ADM</a>
</div>
{% else %}
<div class="info">
  <a href="#" style="color: green;" class="d-block">{{user.first_name}} | Usuario</a>
</div>

{% endif %}
{% endblock %}


{% block content %}

    {% load static %}
<!-- <link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.dark.min.css.map' %}"> -->
<!-- <link rel="stylesheet" href="{% static 'lib/css/mdb.dark.rtl.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.min.css.map' %}">
<link rel="stylesheet" href="{% static 'lib/css/mdb.rtl.min.css' %}"> -->

<div class="content-wrapper">
    <section class="vh-100">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
                    <form action="" method="POST">
                    {% csrf_token %}
    
                    {{ maq_form.as_p }}
    
            <button class="btn btn-primary" type="submit">Enviar</button>
            <!-- <a href="/maquinas" class="btn btn-primary" style="background-color: red;"> Regresar </a> -->
        </form>
    </section>


{% endblock %}
